.top {
    border: 5px solid black;
    width: 98vw;
    height: 25vh;
    /* display: inline; */
}

.purple {
    width: 6vw;
    height: 15vh;
    margin-top: 5vh; 
    margin-left: 2vw;
    margin-bottom: 2vh;
    background: rgb(138, 43, 226);
    position: absolute;
}

.green {
    width: 50vw;
    height: 20vh;
    margin-top: 2vh; 
    margin-left: 10vw;
    margin-bottom: 2vh;
    background: rgb(34, 139, 34);
    position: absolute
}

.blue-circle {
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
    margin-top: 2vh; 
    margin-left: 65vw;
    margin-bottom: 2vh;
    background: rgb(135, 206, 235);
    position: absolute
}

.middle {
    margin-top: 1vh;
    border: 5px dotted black;
    width: 98vw;
    height: 25vh;
}

.yellow {
    position: absolute;
    width: 70vw;
    height: 20vh;
    background: rgb(255, 250, 205);
    margin-left: 10vw;
    margin-top: 2.5vh;
    box-shadow: 5px, 5px, 15px, 5px #000000;
}

.bottom {

}

.bottom p{

}