header {
    background-color: dimgray;
    padding: 50px;
    border: none;
}

.header-color {
    color: dimgray;
}

.left {
    float: left;
    background-color: gainsboro;
    color: gainsboro;
    padding-bottom: 100vh;
    width: 25vh;
}

.right {
    float: right;
    background-color: darkgray;
    color: darkgray;
    padding-bottom: 100vh;
    width: 25vh;
}

.border-bottom {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100vh;
    height: 10vh;
    
}


